@page
@model MiniBlogApp.Pages.LoginModel
@{
    ViewData["Title"] = "Авторизація";
}

<h2>Увійти в систему</h2>

<form method="post" asp-page="/Login">
    <div>
        <label>Логін:</label><br />
        <input asp-for="Input.Username" />
    </div>

    <div style="margin-top:10px;">
        <label>Пароль:</label><br />
        <input asp-for="Input.Password" type="password" />
    </div>

    <div style="margin-top:15px;">
        <button type="submit">Увійти</button>
    </div>

    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <p style="color:red;">@Model.ErrorMessage</p>
    }
</form>
